
*{ 
    box-sizing: border-box; 
    padding: 0px; 
    margin: 0px; 
}

a {
    text-decoration: none; 
    color: white; 
}

li { 
    list-style-type: none; 
}


#footer {
    background-color: #0c334d;
    color: white;
    padding: 40px 0;
    margin-top: 50px;
}

.footer-inner {
    width: 1280px;
    margin: 0 auto;
}

.top-foot {
    padding-bottom: 15px;
    margin-bottom: px;
}


.top-menu {
    display: flex;
    gap: 30px;
    font-size: 14px;
    font-weight: bold;
}


.bottom-foot {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

