* { border: 1px solid red; }
.box{ width: 100px;}

/* display : flex */
.flexbox1{ 
    display: flex; /* 하위 요소들 가로배치 방법 */
    width: 250px;
    flex-wrap: nowrap; /* 만약에 하위요소들의 크기가 구역보다 커지면 하위요소 자동 크기 조정*/ 
}

.flexbox2{ 
    display: flex; 
    width: 250px;
    flex-wrap: wrap; /* 만약에 하위요소들의 크기가 구역보다 커지면 자동 줄바꿈 조정*/
}

.flexbox3{ 
    display: flex; 
    flex-direction: row; /* 생략시 row는 기본값임 기본값이 가로배치 */
}

.flexbox4{ 
    display: flex; 
    flex-direction: column; /* 하위요소들 세로 배치 */
}

.flexbox5{ 
    display: flex; 
    justify-content: flex-start; /* 하위 요소들 가로 정렬(왼쪽정렬/기본값) */
}

.flexbox6{ 
    display: flex; 
    justify-content: flex-end; /* 하위 요소들 가로 정렬(오른쪽정렬) */
}

.flexbox7{ 
    display: flex; 
    justify-content: center; /* 하위 요소들 가로 정렬(가운데정렬) */
}

.flexbox8{ 
    display: flex; 
    justify-content: space-between; /* 하위 요소들 사이 여백 균등 정렬 */
}

.flexbox9{ 
    display: flex; 
    justify-content: space-evenly; /* 양쪽및사이 여백 균등 정렬 */
}

.flexbox10{ 
    display: flex; 
    gap: 20px; /* 사이 여백 직접 설정 */
}

.flexbox11{ 
    width: 250px; flex-wrap: wrap;
    display: flex; gap: 10px 20px; /* 사이 여백 : 세로여백 , 가로여백  */
}


