.title{
    width: 200px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    background-color:  pink;
}

.text1{
    margin-top: 0px;
}
.box1{
    width: 160px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid white;
    padding-top: 4px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: px;
    
}

.text2{
    text-align: center;
    padding-top: 10px;
    font-size: 10px;
}

.img > img{
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
    
}

.box2{
    width: 170px;
    height: 35px;
    background-color: rgb(88, 211, 211);
    
    margin-left: 14px;
    margin-top: 7px;
    border-radius: 5px;
}

.text3{
    text-align: center;
    color: white;
    font-size: 10px;
    padding-left: 72px;
}

.text4{
    text-align: center;
    color: white;
    font-size: 10px;
    padding-left: 63px;
}

.text5{
    text-align: center;
    color: white;
    font-size: 10px;
    padding-left: 67px; 
}
.box3{
    width: 170px;
    height: 35px;
    background-color: rgb(88, 211, 211);
    
    margin-left: 14px;
    margin-top: 7px;
    border-radius: 5px;
}

.box4{
    width: 170px;
    height: 35px;
    background-color: rgb(88, 211, 211);
    margin-left: 14px;
    margin-top: 7px;
    border-radius: 5px;
}
