.title{
    width: 300px;
    border: 1px solid rgb(220, 220, 220);
}


.image{
    width: 100px;
}

.image > img {
    width: 300%; 
}

.text{
    padding-left: 10px;
}

.text3{
    font-size: 14px;
}

.review{
    padding-bottom: 10px;
    
}

.yellowtext{
    color: rgb(255, 167, 2)
}



.yellowtext1{
    color: rgb(255, 167, 2);
    
}
