
li { list-style-type: none; color: black; padding: 0; margin: 0; }

a { list-style-type: none; color: black;}

.gray-box {
    width: 600px; 
    height: 500px; 
    background-color: #ececec; 
    position: relative; 
    margin: 50px;
}


.menu-container {
    position: absolute;
    bottom: 30px;
    right: 30px; 
}

.sub-menu { display: none; padding: 0; margin-bottom: 20px; }


.sub-menu li {
    width: 50px; height: 50px; 
    background-color: white; 
    border-radius: 100%; margin-bottom: 10px; 
    text-align: center; line-height: 50px; 
    font-size: 12px; font-weight: bold; color: blue;
}


.main-btn {
    width: 60px; height: 60px; background-color: #222; color: white;
    border-radius: 100%; text-align: center; line-height: 60px;
    font-size: 30px; margin: 0 auto;
}


.menu-container:hover .sub-menu { display: block; }