*{  border: 1px solid red;
    padding: 0px; margin: 0px;
    box-sizing: border-box;
}

a{  text-decoration: none;
    color: black;
}

li{ list-style-type: none;}

.herder{
    width: 1280px;
    margin: 0  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-ol{
    display: flex;
    gap: 10px;
    margin-right: 10px;
    justify-self: end;  
    
    
}

.top-ol1{
    display: flex;
    justify-content: end;
    gap: 110px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
    margin-right: 10px;
    justify-self: end;  
}

.main-img > img{
    width: 100%;
}


.sidebar{
    width: 230px;
}


.title{
    background-color: rgb(14, 204, 141);
    color: white;
    padding: 10px;
}

.title > h3{
    font-size: 15px;
    margin: 0 auto;
}

.intro{
    width: 220px;
    margin: 5px;
    line-height: 20px;
    font-size: 14px;
}

.search{
    margin-bottom: 20px;
}
.search > input{
    width: 150px;
    height: 25px;
    border-radius: 6px;
}

.search > button{
    height: 25px;
    padding: 0px 3px 0 3px;
}

.left-menu{
    margin-top: 40px;
    padding: 10px;
    text-align: left;
}

.left-menu > h4{
    border-top: 2px solid black;
    border-bottom: 0.5px solid gray;
    padding: 10px;
}