
#main-img {
    width: 1280px;
    margin: 0 auto 50px auto;
}

#main-img img {
    width: 100%;
    display: block;
}

.main-inner {
    width: 1280px;
    margin: 0 auto 60px auto;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.box1 {
    display: flex;
    width: 480px;
    gap: 15px;
}

.icon { width: 40px; height: 40px; }

.text1 h4 { margin: 0 0 1px 0; font-size: 19px; }
.text1 p { margin: 0; font-size: 17.7px; color: #555; }

.gallery {
    background-color: rgb(239, 239, 239);
    padding: 40px 0;
}

.gallery-inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.사진 { width: 220px; }
.사진 img { width: 100%; margin-bottom: 12px; display: block; }
.사진 h4 { margin: 0 0 4px 0; font-size: 15px;  }
.사진 p { margin: 0; font-size: 12px; color: #666; }