*{
    border: 1px solid red;
    box-sizing: border-box;
    padding: 0px; margin: 0px;
        
} /* 전체 적용 */

a{ text-decoration: none; color: black;}

li{ 
    list-style-type: none;
    padding: 20px;
}

body{
    background-color: #E0E7E9;
}

.Wrap{
    width: 1280px;
    margin: 0 auto;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > img{
    width: 300px;
}

.header-list{
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

.banner{
    width: 100%;
    position: relative;
}

.banner > span{
    position: absolute;
    top : 50px;
    left: 70px;
    font-weight: bold;
    font-size: 30px;
}

.img1{
    width: 100%;
    height: 150px;
    object-fit: cover; 
    object-position: bottom;
}

.main{
    width: 800px;
    height: 800px;
    margin: 0 auto;


}
